shell-emulator=true
shamefully-hoist=true
enable-pre-post-scripts=false
strict-peer-dependencies=false

# 添加华为云镜像源配置
registry=https://mirrors.huaweicloud.com/repository/npm/
@types:registry=https://mirrors.huaweicloud.com/repository/npm/
ELECTRON_MIRROR=https://mirrors.huaweicloud.com/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://mirrors.huaweicloud.com/electron-builder-binaries/
